* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto';
}

.app-container {
  background-color: #0f172a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.heading {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 20px;
}

.notification {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 500px;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.icon {
  width: 25px;
  margin-right: 15px;
}

.message {
  font-size: 16px;
  margin: 0;
}

.primary {
  border-left: 5px solid #0b69ff;
}

.success {
  border-left: 5px solid #2dca73;
}

.warning {
  border-left: 5px solid #ffb800;
}

.danger {
  border-left: 5px solid #ff0b37;
}
