* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto;
}

.app-container {
  background-color: #f4faff;
  min-height: 100vh;
  padding: 30px;
}

.hading {
  color: #171f46;
  text-align: center;
}

.app-description {
  color: #64748b;
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}
