.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.card-item {
  background-color: #ffffff;
  list-style-type: none;
  width: 250px;
  margin: 15px;
  padding: 20px;
  border-radius: 12px;
}

.card-title {
  color: #171f46;
  font-size: 18px;
}

.card-description {
  color: #67448b;
  font-size: 14px;
}

.card-image {
  width: 100%;
  margin-top: 10px;
}
